textarea {
  resize: none;
}

.hidden {
  display: none;
}

header {
  background-color: rgb(33, 32, 32);
  text-align: right;
  letter-spacing: 3px;
}


a {
  color: white;
  font-weight: 700;
  text-shadow: 0 0 3px #000;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  color: rgb(162, 159, 159);
}


button {
  border-radius: 7px;
  background-color: rgb(62, 103, 226);
  color: white;
  box-shadow: 0 0 20px rgba(203, 199, 199);
}

input {
  border-radius: 7px;
  box-shadow: 0 0 20px rgb(203, 199, 199);
}

#firstTemp {
  text-shadow: 0 0 20px rgb(95, 92, 92);
}


#form {
  margin: auto;
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black; /*1px border width, solid border style and black color */
  border-radius: 0px;
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 15px; 
  padding-left: 20px; 
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 30px; 
  height: 30px; 
  margin-left: 10px; 
}

#logo{
  width: 150px;
  height: 150px;
}

